<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127215722792-a3cmqshsc7cng8r0m20godqr7jp8l2t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127215722792-a3cmqshsc7cng8r0m20godqr7jp8l2t1</string>
	<key>API_KEY</key>
	<string>AIzaSyC03rqgsZlO2N966-OWI4Tmkei59z-09LE</string>
	<key>GCM_SENDER_ID</key>
	<string>127215722792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>roger-yuen-yrh.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-a1cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-a1cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127215722792:ios:f922e70c0a8cc1bfe3301d</string>
</dict>
</plist>